<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="hospital_root_menu"
        name="Hospital"
        sequence="0">
    </menuitem>

    <menuitem id="patient_master_menu"
        name="Patient Details"
        parent="hospital_root_menu"
        sequence="0">
    </menuitem>


</odoo>
